:root {
    --color-primario: #1629d3;
    --color-secundario-plata: rgb(197, 197, 197);
}

body {
    background-image: url('../imagenes/frio-clientes.jpg');
    background-repeat: no-repeat;
    background-size: auto;
} 


#barra-navegacion{
    
    background-color: rgba(144, 169, 250, 0.5) !important;
}

#clientes{
color: yellow;
}


#modificar-clientes{

color: rgb(68, 28, 248) ;
}

#eliminar-clientes{
    color: rgb(196, 27, 27);
}

#nuevo-cliente{
color: rgb(7, 114, 3)

}